[submodule "Debuggee/Periscope.Debuggee"]
	path = Debuggee/Periscope.Debuggee
	url = https://github.com/zspitz/Periscope.Debuggee.git
[submodule "Visualizer/Periscope"]
	path = Visualizer/Periscope
	url = https://github.com/zspitz/Periscope.git
